.logo-item {
    width: 125px;
}

.horizontal-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-menu li {
    padding: 1rem;
    align-items: center;
}

.navbar {
    position: absolute;
    width: 100%;
}