.logo-item {
    width: 125px;
}

.horizontal-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.horizontal-menu li {
    padding: 1rem;
    align-items: center;
}

.horizontal-menu li a {
    color: #003b2b;
}

.horizontal-menu li a:hover {
    color: #00cc96;
    text-decoration: none;
}

.navbar {
    position: absolute;
    width: 100%;
}

