.headline-title-1 {
    font-size: 3rem;
    font-weight: bold;
}

.headline-title-2 {
    font-size: 1.75rem;
    font-weight: bold;
}

.headline-subtitle-1 {
    font-size: 1.5rem;
}


.text-quest-light {
    color: #04dbb4;
}

.text-quest-dark {
    color: #003b2b;
}